/* For the wave */
html, body {
    margin: 0;
    min-height: 100%;
    /* background-color: #f2f2f2; */
}

/* scrollbars total width */
::-webkit-scrollbar {
    background-color: rgba(0,0,0,0);
    width: 8px;
    height: 8px;
    z-index: 999999;
  }
  
  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
  }
  
  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 8px;
    border: 1px solid #fff;
  }
  
  /* set button(top and bottom of the scrollbar) */
  ::-webkit-scrollbar-button {
    display:none;
  }
  
  :hover::-webkit-scrollbar-thumb {
    background-color: #a0a0a5; 
    border:1px solid #fff;
  }
  
  /* scrollbar when scrollbar is hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 1px solid #f4f4f4
  }
  
  /* Waves on the home screen */
  .ocean {
    height: 180px; /* height of the waves */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
  
  /* Green wave */
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23dc3545'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }
  
  /* Blue wave */
  .wave:nth-of-type(2) {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%230d6efd'/%3E%3C/svg%3E");
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  /* Red wave */
  .wave:nth-of-type(3) {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23198754'/%3E%3C/svg%3E");
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  /* Animating the waves */
  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }

  #circlesAnimateEl {
    display: none;
  }

  .circles {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    bottom: 140px;
    overflow: hidden;
    pointer-events: none;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate_background 25s linear infinite;
    bottom: -150px;
  }
  
  .circles.multiplication li {
    background: rgba(255, 0, 0, 0.7);
  }
  .circles.division li {
    background: rgba(0, 0, 255, 0.7);
  }
  .circles.arithmetic li {
    background: rgba(0, 255, 0, 0.7);
  }

  .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate_background {
  
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  
  }

.main {
    height: calc(100vh - 115px);
    max-width: 100vw;
    --webkit-user-select: none;
    user-select: none;
}

.sub-main {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.home {
    padding: 60px 0px 180px;
    height: 100vh;
    display: flex;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* Buttons in the index */
.container.home .menu-item {
    width: 12em;
    height: 12em;
}

/* Button labels */
.container.home .menu-item a {
    font-family: Roboto, fantasy, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.user-label {
    justify-content: right
}

.login, .register, .home {
    padding: 17em;
}

.sub-title {
    font-size: var(--bs-navbar-brand-font-size);
}

.form-group {
    margin-bottom: 1rem;
}

.home {
    justify-content: center;
    text-align: center;
}

.sheet-button {
    margin: 5px 0px 5px 0px;
}

.problem-sheet {
    text-align: center;
    margin-top: 100px;
    padding-top: 1.5em;
}

.problem-sheet div.table-main-panel {
    display: flex;
    flex-direction: column;
    padding: 1em 1.15em;
}

.problem-sheet div.grid.item-detail-panel {
    /* margin-bottom: 80px; */
}

.problem-sheet div.footer-action-panel {
    height: 80px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.problem-sheet table.table thead tr th.create-col {
    text-align: right;
}

.problem-sheet table.table thead tr th.action-col,
.problem-sheet table.table tbody tr td.action-col {
    width: 110px;
}

.problem-sheet table.table tbody tr td.action-col {
    white-space: nowrap;
}

.problem-sheet table.table td.action-col form {
    display: inline-block;
}

.problem-sheet .table-action-top-panel {
    top: 59px;
    left: 0px;
    right: 0px;
    position:fixed;
    height: 54px;
    padding: 0.5em 0px;
    background-color: var(--bs-body-bg);
    z-index: 2;
}

.problem-sheet .table-action-top-panel > div {
   padding-right: 1.7rem;
   max-width: 100vw;
}

/* .problem-sheet table.table.fixed-table-head tbody {
    height: 200px;
    display: table-caption;
    overflow-y: scroll;
} */

iframe.print {
    position: absolute;
    top: -500px;
    left: -500px;
    visibility: hidden;
}

.grid table, 
.grid th, 
.grid td, 
.grid tr {
    border:1px solid black;
    padding: 0.25em;
}
.grid {
    display: flex;
    gap: 1em;
    flex-wrap:nowrap;
    justify-content: start;
}

/* .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .grid.editing {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .grid.arithmetic {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  
  .grid.arithmetic table.main-table {
    width: auto;
  } */
  
  .grid table {
      width: 100%;
      min-width: 180px;
  }
  .grid table thead tr {
      background-color: red;
  }

  .grid table tbody tr td:first-child{
    width: 35px;
    text-align: right;
    padding-right: 0.5em;
}

.grid table tbody tr td {
    white-space: nowrap;
}

.grid table tbody tr td:last-child {
    text-align: right;
}

.grid table tbody tr td:last-child span {
    text-align: right;
    display: inline-block;
}

.grid table tbody tr td:last-child > span:nth-child(1) {
    text-align: right;
}

.grid table tbody tr td:last-child > span:nth-child(2){
    text-align: center;
    width: 20px;
}

.grid table tbody tr td:last-child > span:nth-child(3){
    text-align: left;
    min-width: 65px;
}

.grid table tbody tr td:last-child > table,
.grid table tbody tr td:last-child > table tr,
.grid table tbody tr td:last-child > table td {
    border-collapse: collapse;
    border: none;
}

.grid table tbody tr td:last-child > table td.equal {
    width: 15px;
}

.grid table tbody tr td:last-child > table td.answer {
    min-width: 35px;
}

.grid.editing table tbody td.expression {
    white-space: nowrap;
    text-align: left;
    padding: 0.25em;
}

.grid.editing table tbody td input {
    text-align: right;
}

.grid table .level-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
}

.grid table .level-header button.action-refresh {
    color: white;
    font-size: 1.2em;
    padding: 0px 0.25em;
}

@media print {
    * {
        margin: 0px;
        padding: 0px;
    }
    html,
    body {
        overflow: hidden;
        background: #FFF;
        font-size: 1em;
    }
}

div.for-printing {
    font-size: 1.3em;
    font-family: sans-serif;
    /* margin: 1mm 5mm 1mm 10mm; */
    margin: 0mm 5mm 0mm 10mm;
    width: 7.5in;
}
div.for-printing.arithmetic {
    font-size: 1.15em;
}
div.for-printing h3 {
   text-align: center; 
   font-weight: lighter;
   padding-top: 1em;
}

div.for-printing .table-for-print {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

div.for-printing .table-for-print td {
    padding: 4px;
    border: 1px solid black;
}

div.for-printing .table-for-print td.number {
    width: 30px;
    text-align: center;
    font-weight: bold;
}

div.for-printing .table-for-print td.expression {
    width: 500px;
}

div.for-printing .table-for-print thead {
    border:none;
}

div.for-printing .table-for-print thead th {
    text-align: center;
}

div.for-printing h3 {
    margin-block-end: 0.25em;
    font-size: 1.4em;
}

div.for-printing h3,
div.for-printing h4  {
    margin-block-start: 0.25em;
    font-weight: lighter;
    text-align: center;
}

div.for-printing.arithmetic h3 {
    margin-block-end: 0.25em;
    font-size: 1.4em;
}

div.for-printing.arithmetic h3,
div.for-printing.arithmetic h4  {
    margin-block-start: 0.25em;
    font-weight: lighter;
    text-align: left;
}

div.for-printing.arithmetic table  {
    border-spacing: 0px;
    padding: 0px;
    border: none;
}

div.for-printing.arithmetic .table-for-print {
    font-size: 0.85em;
    margin-bottom: 5px;
}

div.for-printing.arithmetic .table-for-print td {
    padding: 0px;
}

div.for-printing.arithmetic .table-for-print  .table-cell {
    /* width: 100%; */
    width: 1.9cm;
    border-collapse: collapse;
}

div.for-printing.arithmetic .table-for-print  .table-cell td {
    padding: 0px;
}

div.for-printing.arithmetic .table-for-print  .table-cell .number {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.8em;
}

div.for-printing.arithmetic .table-for-print  .table-cell .number-list {
    text-align: right;
    font-size: 1.1em;
    border: none;
}

div.for-printing.arithmetic .table-for-print  .table-cell .number-list div {
    padding: 3px;
}

div.for-printing.arithmetic .table-for-print  .table-cell .answer-box {
    border: none;
    border-top: 1px solid black;
}

div.for-printing div.answer-page {
    font-size: 1em;
}

div.for-printing.arithmetic div.answer-page {
    font-size: 1.5em;
}

div.for-printing div.answer-page h3 {
    text-align: center;
}

div.for-printing div.answer-page .table-for-print {
    border-collapse: collapse;
    border: none;
}

div.for-printing div.answer-page .table-for-print td {
    padding: 4px;
}

.tooltip-inner {
    max-width: 350px;
}

@media print {
    @page {
      size: A4 portrait;
      margin: 0;
    }
    .pagebreak { page-break-before: always; }
  }

  .pagebreak { page-break-before: always; }