{% extends "sheetmaker/layout.html" %}

{% block title %}
    Home
{% endblock %} 

{% block body %} 
    <div class="container home">
        <div class="menu-item btn btn-danger d-flex align-items-center justify-content-center">
            <a href="{% url 'multiplication' %}">x</a>
        </div>
        <div class="menu-item btn btn-primary d-flex align-items-center justify-content-center">
            <a href="{% url 'division' %}">÷</a>
        </div>
        <div class="menu-item btn btn-success d-flex align-items-center justify-content-center">
            <a href="{% url 'arithmetic' %}">+ / -</a>
        </div>
    </div>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
{% endblock %}