{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sheetmaker - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/sheetmaker/images/favicon.ico">
    <link href="{% static 'sheetmaker/styles.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body style="background-color: white;">
    {% block body %}
    {% endblock %}
</body>
<script src="{% static 'sheetmaker/sheetmaker.js' %}"></script>

</html>