{% extends "sheetmaker/layout.html" %}
{% load tz %}

{% block title %}
    {{ sheet_type }}
{% endblock %}

{% block subtitle %}
    <span class="sub-title">/&nbsp;{{ sheet_type }}</span>
{% endblock %}

{% block body %}
    <div class="problem-sheet">
        {% if sheet_type == "Multiplication" %}

        {% csrf_token %}
        <button id="ajaxButton" class="btn btn-success">
            <i class="bi bi-plus-square"></i>&nbsp;Testing generate numbers via ajax
        </button>

            <div class="table-action-top-panel shadow-sm">
                <div class="container d-flex justify-content-between align-items-end">
                    <div>
                        <a href="/" class="btn">
                            <i class="bi bi-chevron-left"></i>&nbsp;Back
                        </a>
                    </div>
                    <form action="{% url 'createMultiplication' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-plus-square"></i>&nbsp;Create New Sheet
                        </button>
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sheet Name</th>
                        <th scope="col">Subtitle</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Modified Date</th>
                        <th scope="col" class="action-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in sheets %}
                    <tr>
                        <td scope="row">{{ sheet.id }}</td>
                        <td class="text-start">{{ sheet.sheet_name }}</td>
                        <td class="text-start">{{ sheet.sheet_subname }}</td>
                        {% localtime on %}
                            <td class="datetime">{{ sheet.created|timezone:localtimezone }}</td>
                            <td class="datetime">{{ sheet.modified|timezone:localtimezone }}</td>
                        {% endlocaltime %}
                        <td class="action-col">
                            <a href="/multiplication/{{ sheet.id }}/view" class="btn btn-primary">
                                <i class="bi bi-eye"></i>
                            </a>
                            <button class="btn btn-danger delete-action" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" data-bs-api-name="deleteMultiplication" data-bs-sheet-id="{{ sheet.id }}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <form id="deleteMultiplicationForm_{{ sheet.id }}" action="{% url 'deleteMultiplication' %}" method="POST">
                                {% csrf_token %}
                                <input name="sheet_id" type="hidden" value="{{ sheet.id }}">
                                <!-- <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button> -->
                            </form>   
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        
        {% elif sheet_type == "Division" %} 
            <div class="table-action-top-panel shadow-sm">
                <div class="container d-flex justify-content-between align-items-end">
                    <div>
                        <a href="/" class="btn">
                            <i class="bi bi-chevron-left"></i>&nbsp;Back
                        </a>
                    </div>
                    <form action="{% url 'createDivision' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-plus-square"></i>&nbsp;Create New Sheet
                        </button>
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sheet Name</th>
                        <th scope="col">Subtitle</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Modified Date</th>
                        <th scope="col" class="action-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in sheets %}
                    <tr>
                        <td>{{ sheet.id }}</td>
                        <td class="text-start">{{ sheet.sheet_name }}</td>
                        <td class="text-start">{{ sheet.sheet_subname }}</td>
                        <td>{{ sheet.created|timezone:localtimezone }}</td>
                        <td>{{ sheet.modified|timezone:localtimezone }}</td>
                        <td class="action-col">
                            <a href="/division/{{ sheet.id }}/view" class="btn btn-primary">
                                <i class="bi bi-eye"></i>
                            </a>
                            <button class="btn btn-danger delete-action" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" data-bs-api-name="deleteDivision" data-bs-sheet-id="{{ sheet.id }}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <form id="deleteDivisionForm_{{ sheet.id }}" action="{% url 'deleteDivision' %}" method="POST">
                                {% csrf_token %}
                                <input name="sheet_id" type="hidden" value="{{ sheet.id }}">
                                <!-- <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button> -->
                            </form>
                        </td>
                        {% endfor %}
                </tbody>
            </table>
        {% elif sheet_type == "Arithmetic" %} 
            <div class="table-action-top-panel shadow-sm">
                <div class="container d-flex justify-content-between align-items-end">
                    <div>
                        <a href="/" class="btn">
                            <i class="bi bi-chevron-left"></i>&nbsp;Back
                        </a>
                    </div>
                    <form action="{% url 'createArithmetic' %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex gap-1">
                            <select name="subtype" class="form-select d-inline-block" style="width: 200px;" aria-label="Default select example">
                                <option value="Mitori">Mitori</option>
                                <option value="Mitori Addition">Mitori Addition</option>
                                <option value="Challenged">Challenge</option>
                                <option value="Challenged Addition">Challenge Addition</option>
                              </select>
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-plus-square"></i>&nbsp;Create New Sheet
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                   <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sheet Name</th>
                        <th scope="col">Subtitle</th>
                        <th scope="col">Type</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Modified Date</th>
                        <th scope="col" class="action-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in sheets %}
                    <tr>
                        <td>{{ sheet.id }}</td>
                        <td class="text-start">{{ sheet.sheet_name }}</td>
                        <td class="text-start">{{ sheet.sheet_subname }}</td>
                        <td class="text-start">
                            <span class="badge text-bg-info">{{sheet.sheet_subtype}}</span>
                        </td>
                        <td>{{ sheet.created|timezone:localtimezone }}</td>
                        <td>{{ sheet.modified|timezone:localtimezone }}</td>
                        <td class="action-col">
                            <a href="/arithmetic/{{ sheet.id }}/view" class="btn btn-primary">
                                <i class="bi bi-eye"></i>
                            </a>
                            <button class="btn btn-danger delete-action" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" data-bs-api-name="deleteArithmetic" data-bs-sheet-id="{{ sheet.id }}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <form id="deleteArithmeticForm_{{ sheet.id }}" action="{% url 'deleteArithmetic' %}" method="POST">
                                {% csrf_token %}
                                <input name="sheet_id" type="hidden" value="{{ sheet.id }}">
                                <!-- <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button> -->
                            </form>
                        </td>
                        {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="No"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to permanently delete this sheet?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary confirm">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}