{% extends "sheetmaker/layout_print.html" %}

{% block title %}
    {{ sheet_type }}
{% endblock %}

{% block body %}
{% if sheet_type == "Multiplication" %}
<div class="for-printing">
    <h1>{{sheet_data.sheet_name}}</h1>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_1 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} x {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} x {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>

    <h1>{{sheet_data.sheet_name}}</h1>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_2 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} x {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} x {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>

    <div class="answer-page">
        <h1>Answer Sheet</h1>
        <table>
            <tr>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_1 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_2 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
{% elif sheet_type == "Division" %}
<div class="for-printing">
    <h1>{{sheet_data.sheet_name}}</h1>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_1 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} ÷ {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} ÷ {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>

    <h1>{{sheet_data.sheet_name}}</h1>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_2 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} ÷ {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} ÷ {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>
    
    <div class="answer-page">
        <h1>Answer Sheet</h1>
        <table>
            <tr>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_1 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_2 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
{% endif %}
{% endblock %}