{% extends "sheetmaker/layout_print.html" %}

{% block title %}
    {{ sheet_type }} - {{ sheet_data.sheet_name }} - Print
{% endblock %}

{% block body %}
{% if sheet_type == "Multiplication" %}
<div class="for-printing">
    <h3>{{sheet_data.sheet_name}} (X-1)</h3>
    <h4>{{sheet_data.sheet_subname}}&nbsp;</h4>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_1 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} x {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} x {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>

    <h3>{{ sheet_data.sheet_name }} (X-2)</h3>
    <h4>{{ sheet_data.sheet_subname }} </h4>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_2 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} x {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} x {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>

    <div class="answer-page">
        <h3>{{ answer_sheet }} (X)</h3>
        <table>
            <tr>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_1 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_2 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
{% elif sheet_type == "Division" %}
<div class="for-printing">
    <h3>{{sheet_data.sheet_name}} (D-1)</h3>
    <h4>{{sheet_data.sheet_subname}}&nbsp;</h4>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_1 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} ÷ {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} ÷ {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>

    <h3>{{sheet_data.sheet_name}} (D-2)</h3>
    <h4>{{sheet_data.sheet_subname}}</h4>
    <table class="table-for-print">
        <tbody>
            {% for problem in sheet_print_data_2 %}
            <tr>
                <td class="number">{{problem.0.number}}</td>
                <td class="expression">{{problem.0.first}} ÷ {{problem.0.second}} = </td>
                <td class="number">{{problem.1.number}}</td>
                <td class="expression">{{problem.1.first}} ÷ {{problem.1.second}} = </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagebreak"></div>
    
    <div class="answer-page">
        <h3>{{ answer_sheet }} (D)</h3>
        <table>
            <tr>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_1 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_print_data_2 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
{% elif sheet_type == "Arithmetic" %} 
<div class="for-printing arithmetic">
    {% if sheet_data.sheet_subtype == "Mitori" or sheet_data.sheet_subtype == "Mitori Addition" %}
        <h3>{{sheet_data.sheet_name}} (M-1)</h3>
    {% elif sheet_data.sheet_subtype == "Challenged" or sheet_data.sheet_subtype == "Challenged Addition" %}
        <h3>{{sheet_data.sheet_name}}</h3>
    {% endif %}
    <h4>{{sheet_data.sheet_subname}}&nbsp;</h4>
    <table class="table-for-print">
        <tbody>
                <tr>
                    {% for problem in sheet_print_data1 %}
                    <td>
                        <table class="table-cell">
                            <tr>
                                <td class="number">{{problem.number}}</td>
                            </tr>
                            <tr>
                                <td class="number-list">
                                    {% for number in problem.numbers %}
                                        <div>
                                            {{ number }}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="answer-box">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
    <table class="table-for-print">
        <tbody>
                <tr>
                    {% for problem in sheet_print_data2 %}
                    <td>
                        <table class="table-cell">
                            <tr>
                                <td class="number">{{problem.number}}</td>
                            </tr>
                            <tr>
                                <td class="number-list">
                                    {% for number in problem.numbers %}
                                        <div>
                                            {{ number }}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="answer-box">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
    <table class="table-for-print">
        <tbody>
                <tr>
                    {% for problem in sheet_print_data3 %}
                    <td>
                        <table class="table-cell">
                            <tr>
                                <td class="number">{{problem.number}}</td>
                            </tr>
                            <tr>
                                <td class="number-list">
                                    {% for number in problem.numbers %}
                                        <div>
                                            {{ number }}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="answer-box">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
    <table class="table-for-print">
        <tbody>
                <tr>
                    {% for problem in sheet_print_data4 %}
                    <td>
                        <table class="table-cell">
                            <tr>
                                <td class="number">{{problem.number}}</td>
                            </tr>
                            <tr>
                                <td class="number-list">
                                    {% for number in problem.numbers %}
                                        <div>
                                            {{ number }}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="answer-box">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
    <table class="table-for-print">
        <tbody>
                <tr>
                    {% for problem in sheet_print_data5 %}
                    <td>
                        <table class="table-cell">
                            <tr>
                                <td class="number">{{problem.number}}</td>
                            </tr>
                            <tr>
                                <td class="number-list">
                                    {% for number in problem.numbers %}
                                        <div>
                                            {{ number }}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="answer-box">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
    <table class="table-for-print">
        <tbody>
                <tr>
                    {% for problem in sheet_print_data6 %}
                    <td>
                        <table class="table-cell">
                            <tr>
                                <td class="number">{{problem.number}}</td>
                            </tr>
                            <tr>
                                <td class="number-list">
                                    {% for number in problem.numbers %}
                                        <div>
                                            {{ number }}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="answer-box">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>

    
    <div class="pagebreak"></div>

    {% if sheet_data.sheet_subtype == "Mitori" or sheet_data.sheet_subtype == "Mitori Addition" %}
        <h3>{{sheet_data.sheet_name}} (M-2)</h3>
        <h4>{{sheet_data.sheet_subname}}</h4>
        <table class="table-for-print">
            <tbody>
                    <tr>
                        {% for problem in sheet_print_data7 %}
                        <td>
                            <table class="table-cell">
                                <tr>
                                    <td class="number">{{problem.number}}</td>
                                </tr>
                                <tr>
                                    <td class="number-list">
                                        {% for number in problem.numbers %}
                                            <div>
                                                {{ number }}
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="answer-box">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
        <table class="table-for-print">
            <tbody>
                    <tr>
                        {% for problem in sheet_print_data8 %}
                        <td>
                            <table class="table-cell">
                                <tr>
                                    <td class="number">{{problem.number}}</td>
                                </tr>
                                <tr>
                                    <td class="number-list">
                                        {% for number in problem.numbers %}
                                            <div>
                                                {{ number }}
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="answer-box">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
        <table class="table-for-print">
            <tbody>
                    <tr>
                        {% for problem in sheet_print_data9 %}
                        <td>
                            <table class="table-cell">
                                <tr>
                                    <td class="number">{{problem.number}}</td>
                                </tr>
                                <tr>
                                    <td class="number-list">
                                        {% for number in problem.numbers %}
                                            <div>
                                                {{ number }}
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="answer-box">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
        <table class="table-for-print">
            <tbody>
                    <tr>
                        {% for problem in sheet_print_data10 %}
                        <td>
                            <table class="table-cell">
                                <tr>
                                    <td class="number">{{problem.number}}</td>
                                </tr>
                                <tr>
                                    <td class="number-list">
                                        {% for number in problem.numbers %}
                                            <div>
                                                {{ number }}
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="answer-box">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>

        <div class="pagebreak"></div>

        <div class="answer-page">
            <h3>{{ answer_sheet }} (+/-)</h3>
            <table>
                <tr>
                    <td>
                        <table class="table-for-print">
                            <tbody>
                                {% for problem in sheet_answer_data1 %}
                                <tr>
                                    <td class="number">{{problem.0.number}}</td>
                                    <td class="expression">{{problem.0.answer}}</td>
                                    <td class="number">{{problem.1.number}}</td>
                                    <td class="expression">{{problem.1.answer}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table-for-print">
                            <tbody>
                                {% for problem in sheet_answer_data2 %}
                                <tr>
                                    <td class="number">{{problem.0.number}}</td>
                                    <td class="expression">{{problem.0.answer}}</td>
                                    <td class="number">{{problem.1.number}}</td>
                                    <td class="expression">{{problem.1.answer}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    {% elif sheet_data.sheet_subtype == "Challenged" or sheet_data.sheet_subtype == "Challenged Addition" %} 
    <div class="answer-page">
        <h3>{{ answer_sheet }} (+/-)</h3>
        <table>
            <tr>
                <td style="vertical-align:top">
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_answer_data1 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                <td class="number">{{problem.1.number}}</td>
                                <td class="expression">{{problem.1.answer}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align:top">
                    <table class="table-for-print">
                        <tbody>
                            {% for problem in sheet_answer_data2 %}
                            <tr>
                                <td class="number">{{problem.0.number}}</td>
                                <td class="expression">{{problem.0.answer}}</td>
                                {% if problem.1 %}
                                    <td class="number">{{problem.1.number}}</td>
                                    <td class="expression">{{problem.1.answer}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}