{% extends "sheetmaker/layout.html" %}

{% block title %}
    {{ sheet_type }} - {{ sheet_data.sheet_name }}
{% endblock %}

{% block subtitle %}
    <span class="sub-title"><span class="px-1">/</span><a class="text-decoration-none text-nowrap text-dark" href="/{{breadcrumb}}">{{ sheet_type }}</a><span class="px-1">/</span><span class="text-nowrap">{{ sheet_data.sheet_name}}</span></span>
{% endblock %}

{% block subtitleSmall %}
    <span class="sub-title"><a class="text-decoration-none text-nowrap text-dark" href="/{{breadcrumb}}">{{ sheet_type }}</a><span class="px-1">/</span><span class="text-nowrap">{{ sheet_data.sheet_name}}</span></span>
{% endblock %}

{% block body %}
    <div class="problem-sheet">
        {% csrf_token %}
        {% if sheet_type == "Multiplication" %} 
            <div class="table-action-top-panel shadow-sm">
                <div class="container d-flex justify-content-between align-items-end">
                    <div>
                        <a href="/multiplication" class="btn">
                            <i class="bi bi-chevron-left"></i>&nbsp;Back
                        </a>
                        <span class="badge text-bg-info">Sheet ID#: {{sheet_data.id}}</span>
                    </div>
                    <div id="sheetNameContainer" class="d-flex flex-grow-1 justify-content-end ps-2 gap-2">
                        <div class="w-auto">
                            <a class="btn btn-primary" href="/multiplication/{{ sheet_data.id }}/edit">
                                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
                            </a>
                            <button class="btn btn-warning" data-sheet_id="{{ sheet_data.id }}" data-sheet-type="multiplication" id="printSheetEl">
                                <i class="bi bi-printer"></i>&nbsp;&nbsp;Print
                            </button>
                        </div>
                    </div>
               </div>
            </div>
            <div class="table-main-panel">
                <div class='grid item-detail-panel'>
                    {% for data in sheet_data.problem_data %}
                    <div class="animate__animated animate__fadeIn">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-light bg-danger bg-gradient bg-opacity-100" colspan="2">
                                        <div class="level-header">
                                            <div>{{ data.levelName }}</div>
                                            <div><button class="btn action-refresh" data-bs-toggle="tooltip" data-bs-title="Generate a new set of numbers" data-sheet-id="{{ sheet_data.id }}" data-sheet-type="{{ sheet_data.sheet_type }}" data-level-id="{{ forloop.counter }}"><i class="bi bi-arrow-clockwise"></i></button></div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for problem in data.numberSet %}
                                <tr>
                                    <td>
                                        {{ problem.number }}
                                    </td>
                                    <td>
                                        <span>
                                            {{ problem.first }} x {{ problem.second }}
                                        </span>
                                        <span>=</span>
                                        <span>{{ problem.answer }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    {% endfor %}
                </div>
            </div>
        {% elif sheet_type == "Division" %} 
            <div class="table-action-top-panel shadow-sm">
                <div class="container d-flex justify-content-between align-items-end">
                    <div>
                        <a href="/division" class="btn">
                            <i class="bi bi-chevron-left"></i>&nbsp;Back
                        </a>
                        <span class="badge text-bg-info">Sheet ID#: {{sheet_data.id}}</span>
                    </div>
                    <div id="sheetNameContainer" class="d-flex flex-grow-1 justify-content-end ps-2 gap-2">
                        <div class="flex-none w-auto">
                            <a class="btn btn-primary" href="/division/{{ sheet_data.id }}/edit">
                                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
                            </a>
                            <button class="btn btn-warning" data-sheet_id="{{ sheet_data.id }}" data-sheet-type="division" id="printSheetEl">
                                <i class="bi bi-printer"></i>&nbsp;&nbsp;Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-main-panel">
                <div class='grid item-detail-panel'>
                    {% for data in sheet_data.problem_data %}
                    <div class="animate__animated animate__fadeIn">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-light bg-danger bg-gradient bg-opacity-100" colspan="2">
                                        <div class="level-header">
                                            <div>{{ data.levelName }}</div>
                                            <div><button class="btn action-refresh" data-bs-toggle="tooltip" data-bs-title="Generate a new set of numbers" data-sheet-id="{{ sheet_data.id }}" data-sheet-type="{{ sheet_data.sheet_type }}" data-level-id="{{ forloop.counter }}"><i class="bi bi-arrow-clockwise"></i></button></div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for problem in data.numberSet %}
                                <tr>
                                    <td>
                                        {{ problem.number }}
                                    </td>
                                    <td>
                                        <span>
                                            {{ problem.first }} ÷ {{ problem.second }}
                                        </span>
                                        <span>=</span>
                                        <span>{{ problem.answer }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    {% endfor %}
                </div>
            </div>
        {% elif sheet_type == "Arithmetic" %} 
            <div class="table-action-top-panel shadow-sm">
                <div class="container d-flex justify-content-between align-items-end">
                    <div>
                        <a href="/arithmetic" class="btn">
                            <i class="bi bi-chevron-left"></i>&nbsp;Back
                        </a>
                        <span class="badge text-bg-info">Sheet ID#: {{sheet_data.id}} ({{sheet_data.sheet_subtype}})</span>
                    </div>
                    <div id="sheetNameContainer" class="d-flex flex-grow-1 justify-content-end ps-2 gap-2">
                        <div class="flex-none w-auto">
                            <a class="btn btn-primary" href="/arithmetic/{{ sheet_data.id }}/edit">
                                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
                            </a>
                            <button class="btn btn-warning" data-sheet_id="{{ sheet_data.id }}" data-sheet-type="arithmetic" id="printSheetEl">
                                <i class="bi bi-printer"></i>&nbsp;&nbsp;Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="table-main-panel">
            <div class='grid item-detail-panel arithmetic'>
                {% for data in sheet_data.problem_data %}
                <div class="animate__animated animate__fadeIn">
                    <table class="main-table">
                        <thead>
                            <tr>
                                <th class="text-light bg-danger bg-gradient bg-opacity-100" colspan="2">
                                    <div class="level-header">
                                        <div>{{ data.levelName }}</div>
                                        <div><button class="btn action-refresh" data-bs-toggle="tooltip" data-bs-title="Generate a new set of numbers" data-sheet-id="{{ sheet_data.id }}" data-sheet-type="{{ sheet_data.sheet_type }}" data-level-id="{{ forloop.counter }}"><i class="bi bi-arrow-clockwise"></i></button></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for problem in data.numberSet %}
                            <tr>
                                <td>{{ problem.number }}</td>
                                <td>
                                    <table>
                                        <tr>
                                            {% for num in problem.numbers %}
                                            <td class="px-2">{{ num }}</td>
                                            {% endfor %}
                                            <td class="equal">=</td>
                                            <td class="answer">{{ problem.answer }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}